- Subseting and Sorting Data
- Grouping Data
- Data Types
- Handling Missing Data
- Duplicates
- Outliers

In [ ]:
# loading the package
import pandas as pd

In [ ]:
file = r"C:\Users\Gideon\Downloads\afcon-2023-final-squads-list.csv"

In [ ]:
# load the data
df = pd.read_csv(file)

In [ ]:
df.head(30)

- Subseting and Sorting Data

In [ ]:
# take a part of the dataframe: rows, columns
# iloc, loc, dot, square brackets

# df.iloc[rows, columns]
df.iloc[0:27, :]

In [ ]:
df.iloc[0:27, [1, 4, 5]]

In [ ]:
df.loc[0:27, ['team', 'club_country']]

In [ ]:
print(df.shape)
df.info()

In [ ]:
df.describe(include='all')

In [ ]:
from datetime import datetime
df['birthdate'] = pd.to_datetime(df['birthdate'], errors='coerce') #format="%Y-%m.%d")#1994-07-25

df['age'] = (datetime.now() - df['birthdate']).dt.days//365

In [ ]:
df.head()

In [ ]:
# count number of defenders
df[df.position == 'DF']

- Grouping Data

In [ ]:
# Aggregate Data, Apply Functions, Data Exploration
# groupby

In [ ]:
df.groupby('team')['age'].max().sort_values(ascending = False)

In [ ]:
df.groupby('team')['age'].min().sort_values(ascending = True)

In [ ]:
df[df.age == 40]

In [ ]:
df.age.min()

In [ ]:
df[df.age == df.age.min()]

- Data Types

In [ ]:
df.info()

In [ ]:
# handling missing values

# isna() isnull() notnull()

df.isna().sum()

In [ ]:
# for those players without a club. 
df.club.fillna('Free Agents', inplace=True)

after executing this line of code, any missing values in the 'club' column of the DataFrame df will be replaced with 'Free Agents', and the changes will be applied directly to df

In [ ]:
df.isna().sum()

In [ ]:
df.club_country.fillna('No Clubs', inplace=True)

In [ ]:
df.isnull().sum()

In [1]:
# duplicate values

df[df.duplicated(subset='jersey_name')]

NameError: name 'df' is not defined

In [ ]:
df[df.duplicated(subset='birthdate')]

In [ ]:
df[df.birthdate == '1998-03-13']

In [ ]:
df['club'] = df['club'].str.strip()

In [ ]:
df[df.birthdate == '1998-03-13']

In [ ]:
df.age.describe()

- Variance: Variance is the average of the squared differences from the Mean. It gives an idea of how much the data values differ from the mean. Mathematically, it's calculated as follows:

  - Calculate the mean (average) of the dataset.
   - Subtract the mean from each data point, square the result.
    - Find the average of those squared differences.

In [ ]:
age_list = df.age.tolist()

In [ ]:
df.age.mean()

In [ ]:
age_list

In [ ]:
age_no_var = [29, 29, 29, 29, 29, 29, 29, 29, 29]
import numpy as np
data = np.array([age_no_var])
no_var = np.var(data)
print(no_var)

In [ ]:
data = np.array([age_list])
var = np.var(data)
print(var)

- What is standard deviation?

    A measure of how dispersed the data is in relation to the mean
    - Step 1: Find the mean.
    - Step 2: For each data point, find the square of its distance to the mean.
    - Step 3: Sum the values from Step 2.
    - Step 4: Divide by the number of data points.
    - Step 5: Take the square root

In [ ]:
df.age.std()

In [ ]:
df.age.hist(bins=10)

-  1 Standard Deviation from the Mean: 68 percent.
-  2 Standard Deviations from the Mean: 95 percent.
-  3 Standard Deviations from the Mean: 99.7 percent.

In [ ]:
# outliers 

mean = round(df.age.mean(), 2)
std = round(df.age.std(), 2)

In [ ]:
print(mean)
print(std)

In [ ]:
one_std = (mean+std, mean-std)

In [ ]:
one_std

In [ ]:
two_std = (mean+(std*2), mean-(std*2))

In [ ]:
two_std

In [ ]:
three_std = (mean+(std*3), mean-(std*3))

In [ ]:
three_std

In [ ]:
def remove_outliers(df, column, threshold=3):
    mean = df[column].mean()
    std_dev = df[column].std()
    
    lower_bound = mean - threshold * std_dev #PEMDAS
    upper_bound = mean + threshold * std_dev
    # remove outliers
    
    df = df[(df[column]>= lower_bound) & (df[column]<= upper_bound)]
    return df

In [ ]:
df_cleaned = remove_outliers(df, 'age', 2)

In [ ]:
df_cleaned.shape

In [ ]:
removed_rows = df[~df.index.isin(df_cleaned.index)]

In [ ]:
removed_rows

In [ ]:
# Treating outliers using the IQR (interquartile range)
import pandas as pd
path = r"C:\Users\Gideon\Desktop\winequality-red.csv"
wine_data = pd.read_csv(path)

wine_data.head()

In [ ]:
wine_data.info()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# checking for outliers
plt.figure(figsize= (18, 20)) # set figure size
for i in range(len(wine_data.columns)):
    plt.subplot(4, 3, i+1) # creates a subplot
    sns.boxplot(x = wine_data.iloc[:, i])
    plt.xlabel(wine_data.columns[i], size=15)

In [ ]:
print(wine_data['sulphates'].quantile(0.25))
print(wine_data['sulphates'].quantile(0.75))

In [ ]:
wine_data['sulphates'].plot(kind='density')

In [ ]:
def Outliers(df, col):
    IQ1 = df[col].quantile(0.25)
    IQ3 = df[col].quantile(0.75)
    IQR = IQ3 - IQ1
    
    lower_bound = IQ1 - 1.5 * IQR
    upper_bound = IQ3 + 1.5 * IQR
    index = df.index[(df[col] < lower_bound) | (df[col] > upper_bound)]
    return index

In [ ]:
wine_data.index

In [ ]:
wine_data.shape

In [ ]:
index = []
for i in wine_data.columns:
    index.extend(Outliers(wine_data, i))
index = set(index)
#print(index)
print(f'Total number of outliers are {len(index)}')

# dropping all the outliers
wine_data.drop(index, inplace=True, axis=0)
wine_data.shape

In [ ]:
wine_data.columns

In [ ]:
!pip install scipy

In [ ]:
# 3. using the z-score

from scipy import stats
z_scores = stats.zscore(wine_data['chlorides'])

In [ ]:
print(z_scores)

In [ ]:
threshold = 0.5

df_filtered = wine_data['chlorides'][(z_scores < threshold)]

In [ ]:
df_filtered

In [ ]:
plt.figure(figsize= (18, 20)) # set figure size
for i in range(len(wine_data.columns)):
    plt.subplot(4, 3, i+1) # creates a subplot
    sns.kdeplot(x = wine_data.iloc[:, i])
    plt.xlabel(wine_data.columns[i], size=15)