In [ ]:
#Introduction to Pandas
#Pandas is used for data analysis with Python

In [ ]:
#we would explore how to use Pandas for basic data analysis tasks

In [4]:
import numpy as np
import random as rd

In [11]:
#create a dataframe
#student id,name,maths,english,physics,chemistry
#create a subject list
#create a name list

student_dictionary = {'maths':[],'english':[],'physics':[],'chemistry':[]}
list_length = 100
name_list = []
subject_list = ['maths','english','physics','chemistry']
for i in range(1,101):
    name_list.append('student'+str(i))
print(name_list)

['student1', 'student2', 'student3', 'student4', 'student5', 'student6', 'student7', 'student8', 'student9', 'student10', 'student11', 'student12', 'student13', 'student14', 'student15', 'student16', 'student17', 'student18', 'student19', 'student20', 'student21', 'student22', 'student23', 'student24', 'student25', 'student26', 'student27', 'student28', 'student29', 'student30', 'student31', 'student32', 'student33', 'student34', 'student35', 'student36', 'student37', 'student38', 'student39', 'student40', 'student41', 'student42', 'student43', 'student44', 'student45', 'student46', 'student47', 'student48', 'student49', 'student50', 'student51', 'student52', 'student53', 'student54', 'student55', 'student56', 'student57', 'student58', 'student59', 'student60', 'student61', 'student62', 'student63', 'student64', 'student65', 'student66', 'student67', 'student68', 'student69', 'student70', 'student71', 'student72', 'student73', 'student74', 'student75', 'student76', 'student77', 'student78', 'student79', 'student80', 'student81', 'student82', 'student83', 'student84', 'student85', 'student86', 'student87', 'student88', 'student89', 'student90', 'student91', 'student92', 'student93', 'student94', 'student95', 'student96', 'student97', 'student98', 'student99', 'student100']

In [12]:
#create random values from 0 to 100 for each subject

for subject in student_dictionary:
    student_dictionary[subject] = np.random.randint(0,101,list_length)
print(student_dictionary)

{'maths': array([ 89,  87,  50,  30,  12,   2,  11,  66,   4,  78,  56,  21,  23,
        13,  37,  12,  97,  90,  66,  96,  49,  79,  98,  99,  22,  81,
        33,  31,  18,  28,  98,  44,  98,  40,  69,   4,  60,  19,  83,
        81,  18,  10,  48,  39,  80,   5,  79,   9,  80,  34,  45, 100,
        17,   9,  91,  42,  55,  99,  18,  63,  64,  56,  70,   6,  17,
         0,  71,  90,  31,  63,  59,  66,  55,  67,  92,  73,  31,  11,
        96,  56,  68,  19,  19,  33,  83,  52,  68,  49,  24,  10,  48,
        17,   7,  84,  31,  95,  41,  90,  92,  85]), 'english': array([ 92,  59,   6,  54,  13,  91,  66,  93,  48,  30, 100,  24,  45,
        11,  65,  89,  43,  22,  47,  77,  82,  95,  47,  21,  89,  38,
        52,   2,  80,  11,  21,  40,  22,  95,   6,  33,  26,  22,  96,
        99,  75,  99,  93,  59,   8,  50,  79,  13,  83, 100,  71,  17,
         5,  10,  46,  89,  57,   8,  13,  14,  54,  47,  53,  58,  22,
         5,  19,   5,  79,  26,  37,  60,  21,  97,  31,  17,  42, 100,
         7,  56,  45,  37,  33,   9,  57,  57,  92,  83,  40,  67,  53,
        46,  68,   0,  72,  44,  32,  79,  25,  58]), 'physics': array([  3,  13,  90,  38,  97,  61,  58,  77,  57,  56,  59,  54,  94,
        59,  91,  24,  62,   4,  80,  56,   9,  22,  11,  56,  89,   4,
        10,   7,  89,  23,  87,  59,  76,  86,  25,  75,   6,  91,  60,
        88,  91,  50,  47,  72,  40,  55,  15,  49,  47,  49, 100,  95,
        47,  10,  15,  27,  36,  36,  22,   2,  10,  31,  99,  49,  45,
        39,  44,  76,  48,  60,  51,  29,  34,  45,  92,   6,  17,  65,
        51,  45,  68,  46,  37,  34,  64,  67,  49,  49,  28,  33,   5,
        90,  79,  24,  65,  47,  83,  17,  47,   9]), 'chemistry': array([56, 52, 80, 56, 46, 86, 72, 10, 40, 40, 22, 91, 88,  7,  0, 33, 63,
        1, 15, 48,  1, 74, 39, 61, 52, 67,  0, 29, 60,  2, 15, 13, 39, 41,
        0, 80, 36, 32, 81,  7, 79, 29, 15, 69, 53, 86, 14, 86, 67, 51, 48,
       51, 37, 31, 62, 95, 67, 69, 29,  4, 90, 70, 64, 52, 92, 17, 95,  8,
       21, 50, 57, 26, 40, 33, 41, 20, 41, 31, 93, 75, 52, 68, 12, 45, 33,
        2, 64, 19, 15, 78, 69, 41, 73, 97,  4, 46, 23, 26, 14, 27])}

In [13]:
student_dictionary['name'] = name_list
print(student_dictionary)

{'maths': array([ 89,  87,  50,  30,  12,   2,  11,  66,   4,  78,  56,  21,  23,
        13,  37,  12,  97,  90,  66,  96,  49,  79,  98,  99,  22,  81,
        33,  31,  18,  28,  98,  44,  98,  40,  69,   4,  60,  19,  83,
        81,  18,  10,  48,  39,  80,   5,  79,   9,  80,  34,  45, 100,
        17,   9,  91,  42,  55,  99,  18,  63,  64,  56,  70,   6,  17,
         0,  71,  90,  31,  63,  59,  66,  55,  67,  92,  73,  31,  11,
        96,  56,  68,  19,  19,  33,  83,  52,  68,  49,  24,  10,  48,
        17,   7,  84,  31,  95,  41,  90,  92,  85]), 'english': array([ 92,  59,   6,  54,  13,  91,  66,  93,  48,  30, 100,  24,  45,
        11,  65,  89,  43,  22,  47,  77,  82,  95,  47,  21,  89,  38,
        52,   2,  80,  11,  21,  40,  22,  95,   6,  33,  26,  22,  96,
        99,  75,  99,  93,  59,   8,  50,  79,  13,  83, 100,  71,  17,
         5,  10,  46,  89,  57,   8,  13,  14,  54,  47,  53,  58,  22,
         5,  19,   5,  79,  26,  37,  60,  21,  97,  31,  17,  42, 100,
         7,  56,  45,  37,  33,   9,  57,  57,  92,  83,  40,  67,  53,
        46,  68,   0,  72,  44,  32,  79,  25,  58]), 'physics': array([  3,  13,  90,  38,  97,  61,  58,  77,  57,  56,  59,  54,  94,
        59,  91,  24,  62,   4,  80,  56,   9,  22,  11,  56,  89,   4,
        10,   7,  89,  23,  87,  59,  76,  86,  25,  75,   6,  91,  60,
        88,  91,  50,  47,  72,  40,  55,  15,  49,  47,  49, 100,  95,
        47,  10,  15,  27,  36,  36,  22,   2,  10,  31,  99,  49,  45,
        39,  44,  76,  48,  60,  51,  29,  34,  45,  92,   6,  17,  65,
        51,  45,  68,  46,  37,  34,  64,  67,  49,  49,  28,  33,   5,
        90,  79,  24,  65,  47,  83,  17,  47,   9]), 'chemistry': array([56, 52, 80, 56, 46, 86, 72, 10, 40, 40, 22, 91, 88,  7,  0, 33, 63,
        1, 15, 48,  1, 74, 39, 61, 52, 67,  0, 29, 60,  2, 15, 13, 39, 41,
        0, 80, 36, 32, 81,  7, 79, 29, 15, 69, 53, 86, 14, 86, 67, 51, 48,
       51, 37, 31, 62, 95, 67, 69, 29,  4, 90, 70, 64, 52, 92, 17, 95,  8,
       21, 50, 57, 26, 40, 33, 41, 20, 41, 31, 93, 75, 52, 68, 12, 45, 33,
        2, 64, 19, 15, 78, 69, 41, 73, 97,  4, 46, 23, 26, 14, 27]), 'name': ['student1', 'student2', 'student3', 'student4', 'student5', 'student6', 'student7', 'student8', 'student9', 'student10', 'student11', 'student12', 'student13', 'student14', 'student15', 'student16', 'student17', 'student18', 'student19', 'student20', 'student21', 'student22', 'student23', 'student24', 'student25', 'student26', 'student27', 'student28', 'student29', 'student30', 'student31', 'student32', 'student33', 'student34', 'student35', 'student36', 'student37', 'student38', 'student39', 'student40', 'student41', 'student42', 'student43', 'student44', 'student45', 'student46', 'student47', 'student48', 'student49', 'student50', 'student51', 'student52', 'student53', 'student54', 'student55', 'student56', 'student57', 'student58', 'student59', 'student60', 'student61', 'student62', 'student63', 'student64', 'student65', 'student66', 'student67', 'student68', 'student69', 'student70', 'student71', 'student72', 'student73', 'student74', 'student75', 'student76', 'student77', 'student78', 'student79', 'student80', 'student81', 'student82', 'student83', 'student84', 'student85', 'student86', 'student87', 'student88', 'student89', 'student90', 'student91', 'student92', 'student93', 'student94', 'student95', 'student96', 'student97', 'student98', 'student99', 'student100']}

In [14]:
import pandas as pd
df = pd.DataFrame(student_dictionary)
print(df)

    maths  english  physics  chemistry        name
0      89       92        3         56    student1
1      87       59       13         52    student2
2      50        6       90         80    student3
3      30       54       38         56    student4
4      12       13       97         46    student5
..    ...      ...      ...        ...         ...
95     95       44       47         46   student96
96     41       32       83         23   student97
97     90       79       17         26   student98
98     92       25       47         14   student99
99     85       58        9         27  student100

[100 rows x 5 columns]

In [15]:
column_order = ['name', 'maths', 'english', 'physics', 'chemistry']


df = df[column_order]
print(df)

          name  maths  english  physics  chemistry
0     student1     89       92        3         56
1     student2     87       59       13         52
2     student3     50        6       90         80
3     student4     30       54       38         56
4     student5     12       13       97         46
..         ...    ...      ...      ...        ...
95   student96     95       44       47         46
96   student97     41       32       83         23
97   student98     90       79       17         26
98   student99     92       25       47         14
99  student100     85       58        9         27

[100 rows x 5 columns]

In [16]:
df.head()

       name  maths  english  physics  chemistry
0  student1     89       92        3         56
1  student2     87       59       13         52
2  student3     50        6       90         80
3  student4     30       54       38         56
4  student5     12       13       97         46

In [17]:
df.tail()

          name  maths  english  physics  chemistry
95   student96     95       44       47         46
96   student97     41       32       83         23
97   student98     90       79       17         26
98   student99     92       25       47         14
99  student100     85       58        9         27

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       100 non-null    object
 1   maths      100 non-null    int64
 2   english    100 non-null    int64
 3   physics    100 non-null    int64
 4   chemistry  100 non-null    int64
dtypes: int64(4), object(1)
memory usage: 4.0+ KB

In [20]:
df.to_csv('student_marks.csv',index=True)